h1 {
    color: red;
}

.cadeia {
    color: orange;
}

.caracter {
    color: red;
}

.inteiro {
    color: blueviolet;
}

.real {
    color: blue;
}

.logico {
    color: fuchsia;
}

.tipo {
    color: green;
    font-weight: bold;
}

.palavra-reservada {
    color: blue;
    font-weight: bold;
}

.operador {
    color: brown;
}

