# This file defines the JVM parameters used to run Portugol Studio
#
# If you are using Eclipse, refresh the gradle project after changing this file or
# the changes will not take effect
#
# - Blank lines are allowed between parameters
# 
# - Use "#" or "//" to comment lines
#
# - Use the symbol "->" after the parameter to specifiy a list o operating systems where the
#   parameter will be applied. Valid values are: windows, linux and osx. Ex: 
#
#     -Xms64m -> windows
#     -Xms128m -> linux, osx
#         
# 
-Dvisualvm.display.name=Portugol-Studio
-server
-Xms32m
-Xmx256m
-XX:MinHeapFreeRatio=5
-XX:MaxHeapFreeRatio=10
-XX:+UseG1GC
-XX:+CMSClassUnloadingEnabled
-XX:+UseStringDeduplication
-XX:+OptimizeStringConcat
-XX:+AggressiveOpts
-XX:+UseFastAccessorMethods
-XX:+UseCompressedOops
-Xdock:name=Portugol-Studio -> osx