-Dvisualvm.display.name=Portugol-Studio
-server
-Xms32m
-Xmx256m
-XX:MinHeapFreeRatio=5
-XX:MaxHeapFreeRatio=10
-XX:+UseG1GC
-XX:+CMSClassUnloadingEnabled
-XX:+UseStringDeduplication
-XX:+OptimizeStringConcat
-XX:+AggressiveOpts
-XX:+UseFastAccessorMethods
-XX:+UseCompressedOops
-Xdock:name=Portugol-Studio