
body
{
    font-family: "Arial";
    font-size: 14pt;   
    background-color: rgb(250, 250, 250);
    line-height: 150%;
}

h1
{
    color: orange;
}

img
{    
    border: 2px solid black;
    margin: 10px;
}

.cadeia 
{
    color: orange;
}

.caracter 
{
    color: red;
}

.inteiro 
{
    color: blueviolet;
}

.real 
{
    color: blue;
}

.logico 
{
    color: fuchsia;
}

.tipo 
{
    color: green;
    font-weight: bold;
}

.palavra-reservada 
{
    color: blue;
    font-weight: bold;
}

.operador 
{
    color: brown;
}