body 
{ 

	font-family: "Open Sans"; 
	font-size:  12 pt;                 
	line-height: 150%; 
	color: #333333;
        background-color: #D2E7FC; 
} 
 
a 
{ 
	font-weight: bold; 

	color: #DC009C;
} 
 
h1
{
    font-family: "Tahoma";
    font-size: 20pt;
    color: #FBFBFB;
    background-color: #316892;
    border-left: 3px solid #45BDFF;
    padding: 15px;
    padding-left: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
} 
 
h2 
{ 
    font-size: 14 pt;
    margin-top: 10px;
    margin-bottom: 10px;
} 
 
li 
{ 
    margin-bottom: 10px; 
} 

b{
    color: #6400C8;
}

.palavra_reservada 
{ 
    color: #0000FF;
    font-weight: bold;
} 

.tipo_reservado
{ 
    color: #008080;
    font-weight: bold;
}

.parametro 
{ 
    font-weight: bold; 
    list-style-type: circle; 
}

.porTipoDeclaracao
{
    color:#008080;
    font-weight: bold;
}

div.codigo-portugol
{
    padding-left: 8px;
    background-color: #E4F1FE;
}