body 
{ 

	font-family: "Open Sans"; 
	font-size:  13px;                 
	line-height: 150%; 
	color: #f2f2f2;
        background-color: #3A464C; 
} 
 
a 
{ 
	font-weight: bold; 

	color: #00EFC0;
} 
 
h1
{
    font-family: "Tahoma";
    font-size: 20px;
    color: #FBFBFB;
    background-color: #263238;
    border-left: 3px solid #00EFC0;
    padding: 15px;
    padding-left: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
} 
 
h2 
{ 
    font-size: 14px;
    padding-bottom: 10px;
    padding-left: 8px;
    margin-top: 6px;
    margin-bottom: 6px;
} 
 
ul, ol
{
	list-style-type: none;
}
 
li 
{ 
    margin-bottom: 10px; 
} 

b{
    color: #F2BA05;
}

.palavra_reservada 
{ 
    color: #F0433B;
    font-weight: bold;
} 

.tipo_reservado
{ 
    color: #45BDFF;
    font-weight: bold;
}

.parametro 
{ 
    font-weight: bold; 
}

.porTipoDeclaracao
{
    color:#00EFC0;
    font-weight: bold;
}

div.codigo-portugol
{
    background-color: #121E24;
}

p
{
    padding-top: 0px;
}
