body
{
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 100%;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #${cor_letra};
    background-color: #${cor_destaque};
    margin: 0;

}

h1, h2
{
    font-family: "Tahoma";
    font-size: 20pt;
    color: #${cor_letra_titulo};
    background-color: #${fundo_escuro};
    border-left: 3px solid #00EFC0;
    padding: 15px;
    padding-left: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2
{
    font-size: 11pt;
}

p
{
    margin: 25px;
}

div.codigo-portugol
{
    margin: 25px;
    background-color: #${fundo_medio};
}

div.cabecalho-codigo-portugol
{
    color: rgb(40, 103, 130);
    border-bottom: 1px solid rgb(202, 198, 179);
    padding: 10px;
}

div.cabecalho-codigo-portugol a
{
    color: rgb(40, 103, 130);
    font-weight: normal;
    text-decoration: none;
}

div.cabecalho-codigo-portugol a:hover
{
    color: rgb(40, 103, 130);
    font-weight: normal;
    text-decoration: none;
}

div.cabecalho-codigo-portugol a:visited
{
    color: rgb(40, 103, 130);
    font-weight: normal;
    text-decoration: none;
}

a
{
    color: #${cor_3};
    font-weight: normal;
    text-decoration: none;
}

img
{
    margin: 10px;
    text-align: center;
}

.cadeia, .caracter
{
    color: #${valor_cadeia};
}

.inteiro, .real
{
    color:#${valor_inteiro};
}

.logico, .tipo
{
    color: #${valor_logico};
    font-weight: bold;
}

.palavra-reservada
{
    color: #${palavras_reservadas};
    font-weight: bold;
}

.operador
{
    color: #${operador};
}

hr
{
    height: 1px;
    background: #${cor_destaque};
    color: #${cor_destaque};
}
.imagem
{
    text-align: center;
}

.codigo-fonte-container{

    border: 1px solid black;
    margin: 10px;
}

.codigo-fonte{
    background-color: #${fundo_medio};
    margin: 25px;
    padding: 15px;
    white-space: pre-wrap;
}
.botao-codigo-fonte{
    margin:25px;
    padding: 10px;
    font-size: 15px;
    background-color: #${fundo_escuro};
    color: #${cor_letra_titulo};
}



//INICIO CSS gerado pelo PortugolHTMLHighlighter.java

.porPalavraReservada //Exemplo: const caso se senao...
{
    color: #${palavras_reservadas};
    font-weight: bold;
}

.porTipoDeclaracao //Exemplo: inteiro real cadeia...
{
    color: #${tipos};
    font-weight: bold;
}

.porAgrupamentos //Exemplo: () {} []
{
    color: #${cor_letra};
}

.porNumeros //Exemplo: 5 4.52...
{
    color: #${valor_inteiro};
}

.porLogico //Exemplo: VERDADEIRO FALSO
{
    color: #${valor_logico};
}

.porTexto //Exemplo: "Olá mundo"...
{
    color: #${valor_cadeia};
}

.porID //Exemplo: nomeVariavel nomeFuncao...
{
    color: #${cor_letra};
}

.porComentario //Exemplo: //Isso é um comentário...
{
    color: #${comentario_linha};
    font-style: italic;
}

.porDesconhecido //Tudo que não for espaço, pulo de linha, tab e não tenha sido reconhecido anteriormente.
{

}

.tableContainer{
    display: box;
    left: auto;
    right: auto;
}

table
{
    width: 80%;
    margin-right: 10%;
    margin-left: 9%;
    color: #${cor_letra};
    text-align: center;
    font-size: 15px;

}
.hu3
{
    color: #fff;
    height: 25px;
    text-align: right;
}
th, table b
{
    color: #${cor_letra};
}

th, td {
   border: 1px solid #${cor_letra};
}
//FIM CSS gerado pelo PortugolHTMLHighlighter.java
