@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Poiret+One');
body{
  background: var(--quarternary-color); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, var(--quarternary-color), var(--main-color)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, var(--quarternary-color), var(--main-color)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, var(--quarternary-color), var(--main-color)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, var(--quarternary-color), var(--main-color)); /* Standard syntax */
  background-image:  url('img/noise.jpg');
  font-family: 'Poiret One', cursive;
  background-attachment: fixed;
  color: #eee;
}
:root {
  --main-color: #00BCD4;
  --secondary-color: #FFC200;
  --terceary-color: #F1433C;
  --quarternary-color: #00F0C0;
  --darkest: #131E24;
  --dark: #273238;
  --white: #EFF0F2;
}
.btn{
  cursor: pointer;
}
a.nav-item {
  cursor: pointer;
  font-family: 'Comfortaa';
  font-size: 14px;
}
.custom-file-name:after {
  content: attr(data-content) !important;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  height: 100%;
  overflow: hidden;
  padding: 0.5rem 1rem;
}
#main-download{
  cursor: pointer;
  font-size: 30px;
}

iframe{
  width: 100%;
  height: 100%;
  overflow: auto;
}

.container {
    position: relative;
    margin: 0 auto 0;
    max-width: 950px;
    z-index: 3;
}
.btn-primary{
  background-color: var(--secondary-color);
  border: var(--secondary-color);
  color: var(--dark);
}
h1,  h2, h3, h4, h5{
  font-family: 'Comfortaa', cursive;
}
.btn-primary:hover{
  background-color: var(--darkest);
  border: var(--darkest);
  color: var(--white);
}
#header{
  text-align: center;
}
#header .display-4{
  font-size: 30px;
  color: #B7B6B6;
}
#recursos{
  background: var(--dark)
}
#aprenda{
  background-image:  url('img/sea.jpg');
}
#ensine{
  background-image:  url('img/stand.jpg');
}
.contribua{
  background: var(--dark)
}
#recursos img, #header img, #ensine img, #aprenda img,.arrow img{
  margin-left: auto;
	margin-right: auto;
	display: block;
}
#aprenda img{
  border-radius: 50%;
  margin-bottom: 10px;
  border: 10px solid var(--dark);
}
#hero{
  background: var(--main-color); /* For browsers that do not support gradients */
  background-attachment: fixed;
  background-size: cover;
  border-radius: 0;
  text-align: center;
  color: var(--white);
  margin-bottom: 0;
  padding: 2% 0;
}
#sub{
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}
#header h2, #header h3{
  color: var(--white);
}
h2, th, strong, h6, h4{
  color:var(--main-color);
}

h4{
  text-align: center;
}
section{
  padding: 5% 0;
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

a, a:focus{
  cursor: pointer;
  color:var(--white);
  text-decoration: none;
}
#lnk a:focus, #aprenda a:focus{
  color:var(--main-color);
  outline: none;
}
a:hover, a:active{
  color:var(--main-color);
  text-decoration: none;
}

ul {
  list-style: none;
}
li {
  line-height: 1.0rem;
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
}
p {
  text-align: justify;
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
  line-height: 1.75rem;
}
footer{
  margin-bottom: 0;
}
b{
  font-family: 'Comfortaa', cursive;
  color:var(--secondary-color);
}

.btn-outline-primary{
  color: var(--main-color);
  background-color: transparent;
  border: 1px solid var(--main-color);
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
}
.btn-outline-primary:hover{
  color: var(--white);
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}
#hero-button {
  cursor: pointer;
  transition: 1s ease;
  text-decoration: none;
  font-size: 30px;
  display: inline-block;
  text-decoration: none;
  background-color: var(--darkest);
  color: var(--secondary-color);
  border: solid 2px var(--secondary-color);
  margin-top: 2.5rem;
  padding: 1.2rem;
}
#hero-button:hover {
    transition: 1s ease;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--darkest);
    border: solid 2px var(--secondary-color);
    margin-top: 2.5rem;
    padding: 1.2rem;
}

html {
  height: 100%;
}
body {
  padding: 0;
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

#os{
  display: block;
  font-size: 1rem;
}
.arrow {
  cursor: pointer;
  left: 50%;
  margin-left: -25px;
  margin-top: -50px;
  top: -20px;
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */

     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/

 #social-fb:hover {
     fill: #3B5998;
 }
 #social-tw:hover {
     fill: #4099FF;
 }
 #social-yt:hover {
     fill: #d34836;
 }
 #social-em:hover {
     fill: #f39c12;
 }
 #social-dc:hover {
     fill: #f39c12;
 }
