<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleName</key>
	<string>Portugol Studio</string>
	<key>CFBundleExecutable</key>
	<string>Portugol Studio</string>
	<key>CFBundleVersion</key>
	<string>2.7.2</string>
	<key>CFBundleShortVersionString</key>
	<string>2.7.2</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>Portuguese</string>
	<key>CFBundleIdentifier</key>
	<string>br.univali.portugol.studio</string>
	<key>CFBundleGetInfoString</key>
	<string>Ambiente de desenvolvimento para aprender a programar na linguagem Portugol 2.0</string>
	<key>CFBundleIconFile</key>
	<string>portugol-studio.icns</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>por</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>arquivo-por.icns</string>
			<key>CFBundleTypeName</key>
			<string>Algoritmo em Portugol</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © LITE - UNIVALI, 2009 - 2019. Todos os direitos reservados</string>
</dict>
</plist>
